click==*
dnspython==*
Flask==*
Flask-PyMongo==*
gunicorn==*
itsdangerous==*
Jinja2==*
joblib==*
MarkupSafe==*
nltk==*
numpy==*
pandas==*
pymongo==*
python-dateutil==*
pytz==*
regex==*
scikit-learn==*
scipy==*
six==*
threadpoolctl==*
tqdm==*
tzdata==*
Werkzeug==*
