click==8.1.3
dnspython==2.3.0
Flask==2.2.3
Flask-PyMongo==*
gunicorn==*
itsdangerous==*
Jinja2==*
joblib==*
MarkupSafe==*
nltk==*
numpy==*
pandas==*
pymongo==*
python-dateutil==*
pytz==*
regex==*
scikit-learn==*
scipy==*
six==*
threadpoolctl==*
tqdm==*
tzdata==*
Werkzeug==*
